body {

}

li {
	list-style-type:square;
}

p,h2 {
	font-family: "Times New Roman", arial, serif;
	color: black;
}

#master {

}

#gameBoard {
	padding-right: 20px;
	display: block;
	float: left;
}

#content {
	display: block;
	float: left;
}

#playerList{
	min-height: 150px;
}